@import './colors';
$sidebar-w: 15vw;
$sidebar-w-closed: 6vw;

.login-container {
    min-height: 100vh !important;
    align-items: center;
}

.login-form {
    min-height: 100vh;
}



.main-navbar {}

.sidebar-wrapper {
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 10px 0;
    background: $orange;
    width: $sidebar-w;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #e7e7e7;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #dad6d6;
    }



    .sidebar {
        .sidebar-nav {
            li {
                padding: 5px;

                .nav-link {
                    color: white !important;
                    display: flex;
                    align-items: center;
                    opacity: 0.6;
                    position: relative;
                    padding-bottom: 0;
                    padding-top: 0;
                    transition: all 200ms;

                    i {
                        margin-right: 5px;
                    }

                    span {
                        font-size: 0.8rem !important;
                    }

                    &::after {
                        content: " ";
                        width: 3px;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: white;
                        visibility: hidden;
                        transition: all 100ms;
                        border-radius: 10px;
                    }
                }

                &:not(.active):hover {
                    .nav-link {
                        opacity: 1;

                        &::after {
                            visibility: visible;
                        }
                    }
                }

                &.active {
                    .nav-link {
                        opacity: 1;

                        &::after {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    transition: 200ms !important;

    // closed sidebar
    &.close {
        width: $sidebar-w-closed !important;

        .sidebar-header {
            text-align: center !important;

            .sidebar-title {
                display: none;
            }
        }

        li {
            padding: 0 !important;
            text-align: center;
        }

        .nav-link {
            span {
                display: none !important;
            }

            justify-content: center !important;
        }

        .nav-divider-label {
            display: none !important;
        }
    }
}

#mobile-sidebar {

    .sidebar {
        .sidebar-nav {
            li {
                padding: 5px;

                .nav-link {
                    color: white !important;
                    display: flex;
                    align-items: center;
                    opacity: 0.6;
                    position: relative;
                    padding-bottom: 0;
                    padding-top: 0;
                    transition: all 200ms;

                    i {
                        margin-right: 5px;
                    }

                    span {
                        font-size: 0.8rem !important;
                    }

                    &::after {
                        content: " ";
                        width: 3px;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: white;
                        visibility: hidden;
                        transition: all 100ms;
                        border-radius: 10px;
                    }
                }

                &:not(.active):hover {
                    .nav-link {
                        opacity: 1;

                        &::after {
                            visibility: visible;
                        }
                    }
                }

                &.active {
                    .nav-link {
                        opacity: 1;

                        &::after {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.chat-content-container {
 

    textarea {
        resize: none;
        font-size: 0.9rem !important;
        border: none !important;
    }

    .nav-toolbar {
        .nav-toolbar-item {
            button {
                outline: none !important;
                border: none !important;

                &:hover {
                    outline: none !important;
                    border: none !important;
                    color: $orange !important;
                }
            }
        }
    }

    .products-dropdown {
        $height: 35vh;
        width: 20vw !important;
        height: $height !important;

        .chat-products-list {
            height: $height - 12vh;
            overflow-y: auto !important;
        }

    }

    .send-images-container {
        padding-top: 20px !important;

        button {
            top: 0;
            right: 0;
        }

        .send-images-row {
            max-width: 100% !important;
            overflow-x: auto;

            .send-image-item {
                position: relative;

                .send-image-item-close {
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    box-sizing: border-box;
                    background: none !important;
                    justify-content: center;
                    align-items: center;
                    background: transparent !important;
                    border: none !important;
                }


            }

            .send-image-img {
                width: 50px !important;
                height: 50px !important;
                max-width: none !important;
            }
        }
    }

    #send-message-btn {
        border: none !important;
        outline: none !important;

        &.disabled {
            color: rgb(63, 63, 63) !important;
        }
    }
}

.main-container {
    transition: 200ms !important;

    &.sidebar-closed {
        margin-left: $sidebar-w-closed !important;
    }

    margin-left: $sidebar-w;
}

.card-icon {
    width: 60px;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    background: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &.card-icon-sm {
        width: 40px;
        height: 40px;
    }
}




.conversation-photo {
    $size: 50px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    width: $size;
    height: $size;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgb(190, 190, 190);
    border: 1px solid rgb(255, 255, 255);
}

.conversation-text-photo {
    $size: 50px;
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(214, 214, 214);
    border-radius: 50%;

}

.chat-container {
    .messages-box{
        height: 40vh;
        overflow-y: auto !important;
        padding: 20px 10px !important;
    }
    .chat-footer{
        background: rgb(240,240,240);
        padding: 20px;
        border: 1px solid rgb(200,200,200);
    }
}

img.view-photo,div.view-photo{
    cursor: pointer !important;
}

@media screen and (max-width:1120px) {
    $sidebar-w: 18vw;


    .sidebar-wrapper {
        width: $sidebar-w !important;
        z-index: 3;

        &.close {
            width: 10vw !important;
        }
    }

    .main-container {
        margin-left: $sidebar-w !important;

        &.sidebar-closed {
            margin-left: 10vw !important;
        }
    }

}

@media screen and (max-width:768px) {
    $sidebar-w: 0;

    .sidebar-wrapper {
        width: $sidebar-w !important;

        &.close {
            width: 0 !important;
        }
    }

    .main-container {
        margin-left: $sidebar-w !important;

        &.sidebar-closed {
            margin-left: 0 !important;
        }
    }

}