@import './colors';
@import "../../bootstrap/scss/functions";
@import "../../bootstrap/scss/variables";
// @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.3.0/css/fontawesome.min.css");

$theme-colors: map-merge($map1: $theme-colors, $map2: $custom-map);


@import '../../bootstrap/scss/bootstrap.scss';


*{
    font-family: 'Poppins', sans-serif;
}

// .text-elegant{
//     font-family: 'Parisienne', cursive !important;
// }

.btn-yellow, .btn-orange{
    color: white !important;
}