@import './colors';
@import "../../bootstrap/scss/functions";
@import "../../bootstrap/scss/variables";
// @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.3.0/css/fontawesome.min.css");

$theme-colors: map-merge($map1: $theme-colors, $map2: $custom-map);


@import '../../bootstrap/scss/bootstrap.scss';


* {
    font-family: 'Poppins', sans-serif;
}

// .text-elegant{
//     font-family: 'Parisienne', cursive !important;
// }

.btn-yellow,
.btn-orange {
    color: white !important;
}




@each $color,
$value in $theme-colors {
    .btn-c-#{$color} {
        background: rgba($color: $value, $alpha: 0.2);
        border: 1px solid rgba($color: $value, $alpha: 0.5);
        color: $value !important;

        &:hover {
            background: rgba($color: $value, $alpha: 0.3);
            border: 1px solid rgba($color: $value, $alpha: 0.5);

        }
    }
}


.status-list {
    list-style: none;
    padding: 0;
    li {
        position: relative;
        padding-left: 40px !important;
        box-sizing: border-box !important;
        cursor: not-allowed;
        padding-top: 5px !important;
        height: 20vh;

        * {
            color: rgba(0, 0, 0, 0.2);
        }

        &::after {
            $size: 30px;
            content: " ";
            position: absolute;
            width: $size;
            height: $size;
            padding: 10px;
            box-sizing: border-box;
            background: #e7e7e7;
            left: 0;
            border-radius: 50%;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            font-family: boxicons !important;
            transition: 300ms all !important;
            color: white !important;
        }

        &::before {
            content: " ";
            width: 3px;
            height: 100%;
            background: #e7e7e7;
            position: absolute;
            left: 13px;
            top: -100%;
            z-index: 1;
            transition: 300ms all !important;
        }

        &.active {
            cursor: default !important;

            * {
                color: rgba(0, 0, 0, .8);
            }

            .title {
                // color: rgb(75, 75, 75) !important;
                color: $brown !important;
                font-weight: bold;
            }

            &::after {
                text-align: center;
                // background: rgb(27, 153, 65);
                background: $brown;
                border: 2px solid $brown;
                content: "\edec" !important;
                color: white !important;
                transform: scale(1.1);
            }

            &::before {
                background: $brown !important;
            }

        }

        &.enabled:hover {
            cursor: pointer;

            * {
                color: rgba(0, 0, 0, .8);
            }

            &::after {
                content: "\ebd9" !important;
                background: $brown !important;
                transform: scale(1.15);
                box-shadow: 1px 1px 4px rgb(158, 158, 158);
            }

            &::before {
                background: rgb(190, 190, 190) !important;
            }
        }

        &.checked {
            cursor: default !important;

            * {
                color: rgba(0, 0, 0, 0.7);
            }

            .title {
                color: black !important;
            }

            &::after {
                content: "\ea41" !important;
                background: $brown;
            }

            &::before {
                background: $brown;
            }
        }

        &:first-child {
            &::before {
                display: none !important;
            }
        }
    }
}

@media screen and (max-width:1120px) {
    .status-list {
        li{
            height: 30vh !important;
        }
    }

}

@media screen and (max-width:768px) {
    .status-list {
        li{
            height: 15vh !important;
        }
    }

}