.login-container {
  min-height: 100vh !important;
  align-items: center;
}

.login-form {
  min-height: 100vh;
}

.sidebar-wrapper {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 10px 0;
  background: #FC6603;
  width: 15vw;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
  transition: 200ms !important;
}
.sidebar-wrapper::-webkit-scrollbar {
  width: 5px;
}
.sidebar-wrapper::-webkit-scrollbar-track {
  background: #e7e7e7;
}
.sidebar-wrapper::-webkit-scrollbar-thumb {
  background: #dad6d6;
}
.sidebar-wrapper .sidebar .sidebar-nav li {
  padding: 5px;
}
.sidebar-wrapper .sidebar .sidebar-nav li .nav-link {
  color: white !important;
  display: flex;
  align-items: center;
  opacity: 0.6;
  position: relative;
  padding-bottom: 0;
  padding-top: 0;
  transition: all 200ms;
}
.sidebar-wrapper .sidebar .sidebar-nav li .nav-link i {
  margin-right: 5px;
}
.sidebar-wrapper .sidebar .sidebar-nav li .nav-link span {
  font-size: 0.8rem !important;
}
.sidebar-wrapper .sidebar .sidebar-nav li .nav-link::after {
  content: " ";
  width: 3px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  visibility: hidden;
  transition: all 100ms;
  border-radius: 10px;
}
.sidebar-wrapper .sidebar .sidebar-nav li:not(.active):hover .nav-link {
  opacity: 1;
}
.sidebar-wrapper .sidebar .sidebar-nav li:not(.active):hover .nav-link::after {
  visibility: visible;
}
.sidebar-wrapper .sidebar .sidebar-nav li.active .nav-link {
  opacity: 1;
}
.sidebar-wrapper .sidebar .sidebar-nav li.active .nav-link::after {
  visibility: visible;
}
.sidebar-wrapper.close {
  width: 6vw !important;
}
.sidebar-wrapper.close .sidebar-header {
  text-align: center !important;
}
.sidebar-wrapper.close .sidebar-header .sidebar-title {
  display: none;
}
.sidebar-wrapper.close li {
  padding: 0 !important;
  text-align: center;
}
.sidebar-wrapper.close .nav-link {
  justify-content: center !important;
}
.sidebar-wrapper.close .nav-link span {
  display: none !important;
}
.sidebar-wrapper.close .nav-divider-label {
  display: none !important;
}

#mobile-sidebar .sidebar .sidebar-nav li {
  padding: 5px;
}
#mobile-sidebar .sidebar .sidebar-nav li .nav-link {
  color: white !important;
  display: flex;
  align-items: center;
  opacity: 0.6;
  position: relative;
  padding-bottom: 0;
  padding-top: 0;
  transition: all 200ms;
}
#mobile-sidebar .sidebar .sidebar-nav li .nav-link i {
  margin-right: 5px;
}
#mobile-sidebar .sidebar .sidebar-nav li .nav-link span {
  font-size: 0.8rem !important;
}
#mobile-sidebar .sidebar .sidebar-nav li .nav-link::after {
  content: " ";
  width: 3px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  visibility: hidden;
  transition: all 100ms;
  border-radius: 10px;
}
#mobile-sidebar .sidebar .sidebar-nav li:not(.active):hover .nav-link {
  opacity: 1;
}
#mobile-sidebar .sidebar .sidebar-nav li:not(.active):hover .nav-link::after {
  visibility: visible;
}
#mobile-sidebar .sidebar .sidebar-nav li.active .nav-link {
  opacity: 1;
}
#mobile-sidebar .sidebar .sidebar-nav li.active .nav-link::after {
  visibility: visible;
}

.chat-content-container textarea {
  resize: none;
  font-size: 0.9rem !important;
  border: none !important;
}
.chat-content-container .nav-toolbar .nav-toolbar-item button {
  outline: none !important;
  border: none !important;
}
.chat-content-container .nav-toolbar .nav-toolbar-item button:hover {
  outline: none !important;
  border: none !important;
  color: #FC6603 !important;
}
.chat-content-container .products-dropdown {
  width: 20vw !important;
  height: 35vh !important;
}
.chat-content-container .products-dropdown .chat-products-list {
  height: 23vh;
  overflow-y: auto !important;
}
.chat-content-container .send-images-container {
  padding-top: 20px !important;
}
.chat-content-container .send-images-container button {
  top: 0;
  right: 0;
}
.chat-content-container .send-images-container .send-images-row {
  max-width: 100% !important;
  overflow-x: auto;
}
.chat-content-container .send-images-container .send-images-row .send-image-item {
  position: relative;
}
.chat-content-container .send-images-container .send-images-row .send-image-item .send-image-item-close {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-sizing: border-box;
  background: none !important;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  border: none !important;
}
.chat-content-container .send-images-container .send-images-row .send-image-img {
  width: 50px !important;
  height: 50px !important;
  max-width: none !important;
}
.chat-content-container #send-message-btn {
  border: none !important;
  outline: none !important;
}
.chat-content-container #send-message-btn.disabled {
  color: rgb(63, 63, 63) !important;
}

.main-container {
  transition: 200ms !important;
  margin-left: 15vw;
}
.main-container.sidebar-closed {
  margin-left: 6vw !important;
}

.card-icon {
  width: 60px;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #FECB02;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.card-icon.card-icon-sm {
  width: 40px;
  height: 40px;
}

.photos-row {
  display: flex;
  padding-bottom: 10px;
  flex-wrap: wrap;
}
.photos-row .item {
  width: 80px;
  position: relative;
  margin: 10px;
}
.photos-row .item img {
  width: 100%;
  max-width: 100%;
}
.photos-row .item .remove-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.conversation-photo {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgb(190, 190, 190);
  border: 1px solid rgb(255, 255, 255);
}

.conversation-text-photo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(214, 214, 214);
  border-radius: 50%;
}

.user-text-photo {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(214, 214, 214);
  border-radius: 50%;
}
.user-text-photo.sm {
  width: 30px;
  height: 30px;
}

.chat-container .messages-box {
  height: 40vh;
  overflow-y: auto !important;
  padding: 20px 10px !important;
}
.chat-container .chat-footer {
  background: rgb(240, 240, 240);
  padding: 20px;
  border: 1px solid rgb(200, 200, 200);
}

img.view-photo, div.view-photo {
  cursor: pointer !important;
}

@media screen and (max-width: 1120px) {
  .sidebar-wrapper {
    width: 18vw !important;
    z-index: 3;
  }
  .sidebar-wrapper.close {
    width: 10vw !important;
  }
  .main-container {
    margin-left: 18vw !important;
  }
  .main-container.sidebar-closed {
    margin-left: 10vw !important;
  }
}
@media screen and (max-width: 768px) {
  .sidebar-wrapper {
    width: 0 !important;
  }
  .sidebar-wrapper.close {
    width: 0 !important;
  }
  .main-container {
    margin-left: 0 !important;
  }
  .main-container.sidebar-closed {
    margin-left: 0 !important;
  }
}/*# sourceMappingURL=admin.css.map */