.main-navbar {
  padding: 0;
}
.main-navbar a {
  color: white;
  padding: 5px 20px;
  box-sizing: border-box;
  height: 100%;
  font-size: 1.1rem;
}
.main-navbar .search-input {
  margin: 25px 10px;
}
.main-navbar ul li.active a {
  background: #FC6603;
}
.main-navbar ul li:not(.active) a:hover {
  background: #FC6603;
}

.hero-main {
  background-image: url("../../images/banner1.jpg");
}
.hero-main .hero-text {
  font-size: 5.5rem !important;
  font-weight: bolder;
}

.icon-input-group {
  position: relative !important;
}
.icon-input-group input {
  padding-right: 13px !important;
}
.icon-input-group .input-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.product-card img {
  height: 25vh;
}
.product-card .product-name {
  font-size: 0.8rem;
  color: black;
}
.product-card .product-price {
  font-size: 0.9rem;
  color: #FC6603;
}
.product-card .product-footer {
  top: -15%;
  background: #FC6603;
  color: white;
  display: none;
  border: 0 !important;
  left: 0;
}
.product-card:hover {
  transform: scale(1.01);
}

.categories-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 15px !important;
}
.categories-container .category-item {
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
  margin-right: 10px;
}
.categories-container .category-item img {
  width: 30px;
}
.categories-container .category-item.active {
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #FC6603 !important;
}
.categories-container .category-item.active p {
  color: #FC6603 !important;
  font-weight: bold;
}

main {
  min-height: 90vh;
}

.quantity-input {
  width: 60px !important;
  text-align: center;
}

.cart-list {
  min-height: 50vh !important;
  max-height: 60vh !important;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
}
.cart-list::-webkit-scrollbar {
  width: 3px;
}
.cart-list::-webkit-scrollbar-track {
  background: #e7e7e7;
}
.cart-list::-webkit-scrollbar-thumb {
  background: rgba(252, 102, 3, 0.5);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .hero-main .hero-text {
    font-size: 3rem !important;
  }
  .category-item {
    padding: 5px !important;
  }
  .category-item img {
    width: 20px !important;
  }
  .category-item p {
    font-size: 12px !important;
  }
}
.chat-container {
  position: fixed;
  bottom: 0 !important;
  right: 10px;
  z-index: 5000;
}
.chat-container #messages-box {
  max-height: 100% !important;
  overflow-y: auto !important;
}
.chat-container .chat-button {
  border-radius: 5px 5px 0 0 !important;
  box-shadow: 1px 1px 5px rgb(116, 116, 116);
  margin: 0;
}
.chat-container .chat-content-container {
  width: 0;
  height: 0;
  transition: 400ms;
  background: white;
  opacity: 0;
}
.chat-container .chat-content-container textarea {
  resize: none;
  font-size: 12px !important;
  border: none !important;
}
.chat-container .chat-content-container .nav-toolbar .nav-toolbar-item button {
  outline: none !important;
  border: none !important;
}
.chat-container .chat-content-container .nav-toolbar .nav-toolbar-item button:hover {
  outline: none !important;
  border: none !important;
  color: #FC6603 !important;
}
.chat-container .chat-content-container .products-dropdown {
  width: 20vw !important;
  height: 35vh !important;
}
.chat-container .chat-content-container .products-dropdown .chat-products-list {
  height: 23vh;
  overflow-y: auto !important;
}
.chat-container .chat-content-container .send-images-container {
  padding-top: 20px !important;
}
.chat-container .chat-content-container .send-images-container button {
  top: 0;
  right: 0;
}
.chat-container .chat-content-container .send-images-container .send-images-row {
  max-width: 100% !important;
  overflow-x: auto;
}
.chat-container .chat-content-container .send-images-container .send-images-row .send-image-item {
  position: relative;
}
.chat-container .chat-content-container .send-images-container .send-images-row .send-image-item .send-image-item-close {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-sizing: border-box;
  background: none !important;
  justify-content: center;
  align-items: center;
}
.chat-container .chat-content-container .send-images-container .send-images-row .send-image-img {
  width: 50px !important;
  height: 50px !important;
  max-width: none !important;
}
.chat-container .chat-content-container #send-message-btn {
  border: none !important;
  outline: none !important;
}
.chat-container .chat-content-container #send-message-btn.disabled {
  color: rgb(63, 63, 63) !important;
}
.chat-container.open .chat-button {
  display: none;
}
.chat-container.open .chat-content-container {
  height: 70vh !important;
  width: 40vw;
  background: white;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .chat-container {
    right: 0 !important;
    bottom: 0 !important;
  }
  .chat-container.open .chat-content-container {
    width: 100vw !important;
    height: 100vh !important;
  }
}
.account-photo {
  width: 40px !important;
  height: 40px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid rgb(212, 212, 212) !important;
}

.div-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px !important;
  height: 50px !important;
}
.div-image.lg {
  width: 100px !important;
  height: 100px !important;
}
.div-image.xl {
  width: 200px !important;
  height: 200px !important;
}/*# sourceMappingURL=users.css.map */